.blinkingTextContainer {
    font-family: monospace;
    font-size: 24rem;
    display: inline-block;
  }
  
  .blinkingCursor {
    
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }
  